/**
 * @license
 *
 *
 * Font Styles:
 * Brilon Regular Regular
 *
*/


@font-face {
  font-family: 'BrilonRegular';
  src: url('/fonts/Brilon-Regular.otf') format('otf'),
       url('/fonts/Brilon-Regular.ttf') format('truetype');
       font-weight: 400;
       font-display: swap;
       font-style: normal;
}